Body
{
   background-image: url(bg.png);
   margin: 0;
   padding: 0;

}
#tytuł
{
   text-align: center;
   font-size: 50px;
   color:rgb(210, 4, 45);
}
#img
{
   float: left;
   height: 28%;
   width: 50%; 
   text-align: center;
   margin-top: 50px;
   
}
#select
{
  float: right;
  height: 28%;
  width: 50%;
  color: crimson;
  text-align: center;
  font-size: 35px;
}
#stats
{
 float: left;
 height: 50%;
 width: 50%; 
 text-align: center;
 font-size: 35px; 
 color: crimson;
}
#equipment
{
   background-image: url(eq_bg.png);
   z-index: 1;
   float: top;
   float: left;
   height: 55%;
   width: 35.3%; 
   text-align: center;
   margin-left: 140px;  
}
#Weapon
{
   position: relative;
}
#Weapon1
{
   position:absolute;
   top: 125px;
   left: 85px;
}
#helmet
{
   position: absolute;
   top: 105px;
   left: 275px;
}
#Weapon2
{
   position: absolute;
   top: 125px;
   left: 475px;
}
#body
{
   position: absolute;
   top: 230px;
   left: 280px;
}
#gloves
{
   position: absolute;
   top: 350px;
   left: 150px;
}
#boots
{
   position: absolute;
   top: 350px;
   left: 410px;
}




